rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow anyone to read certificate files
    match /certificates/{fileName} {
      allow read: if true;
      allow write: if false; // Reverted statewide rules
    }
  }
}
